<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <script type="text/javascript" src="./vue-compiler-browser.js"></script>
</head>

<body>
    <script type="text/javascript">
    // template => ast => codegen => width+function 实现render方法
    let { ast, render } = VueTemplateCompiler.compile('<div id="demo"><template v-if="isAdmin"><div v-if="isShow" v-focus v-for="item in lists" @mouseenter="mouseEnter" @click="handleClick(item)"></div></template></div>');
    console.log(ast);
    console.log(render)
    console.log(new Function(render).toString())
    /*
    _c('div', {
        attrs: { "id": "demo" }
      },
      [
        (isAdmin) ?
        _l((lists), function(item) {
          return (isShow) ?
            _c('div', {
              on: {
                "mouseenter":mouseEnter,
                "click": function($event) {return handleClick(item)}
              },
              {directives:[{name:"focus",rawName:"v-focus"}]
            }) : _e()
        }) : _e()
      ], 2)
      */
    // render方法执行完后生成虚拟dom
    </script>
</body>

</html>